<html>
    <head>
        <title>
            {{title}}
        </title>
     <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h2>{{>header}}</h2>
        <h2>this is {{body}}</h2>
        <h2>name : {{name}}</h2>
        <h2>age : {{age}}</h2>
        <h2>city : {{city}}</h2>
        <img src={{img}} alt="">
    </body>
</html>